In [1]:
import pandas as pd
from datetime import timedelta
from epiweeks import Week, Year

In [2]:
# David's path
path = 'data/Precipitation/'

In [3]:
def get_epiweek(date):
    week = Week.fromdate(date)
    return week

### Read CSV

In [4]:
weekly_precipitation = pd.read_csv(path + 'precipitation_rio_daily.csv')
weekly_precipitation.rename(columns={'system:time_start' : 'Date'}, inplace=True)
weekly_precipitation['Date'] = pd.to_datetime(weekly_precipitation['Date'])
weekly_precipitation

           Date  precipitation
0    2015-01-01          0.000
1    2015-01-02          7.326
2    2015-01-03          0.000
3    2015-01-04         10.070
4    2015-01-05         25.101
...         ...            ...
3282 2023-12-27          0.000
3283 2023-12-28          0.000
3284 2023-12-29          0.000
3285 2023-12-30          0.000
3286 2023-12-31          0.000

[3287 rows x 2 columns]

### Calculate precipitation per epi-week

In [5]:
# Apply function to get epiweek for each date
weekly_precipitation['Epiweek'] = weekly_precipitation['Date'].apply(get_epiweek)

# Group by epiweek and calculate mean temperature
mean_prec_per_epiweek = weekly_precipitation.groupby('Epiweek')['precipitation'].sum().reset_index()
mean_prec_per_epiweek.sort_values(by='Epiweek', inplace=True)
mean_prec_per_epiweek

    Epiweek  precipitation
0    201453          7.326
1    201501         46.448
2    201502          0.013
3    201503         43.581
4    201504         99.522
..      ...            ...
466  202349         33.037
467  202350          0.323
468  202351         13.727
469  202352          6.937
470  202401          0.000

[471 rows x 2 columns]

In [7]:
# Dataframe to CSV
mean_prec_per_epiweek.to_csv(path+'precipitation_rio.csv', index=False)