# Setup enviorment

In [1]:
from Preprocessing.time_series_preprocessing import normalize_train_features, normalize_test_features
from Preprocessing.supervised_dataloader import plot_samples, get_dataset_list, split_list, CustomDataGen, show_random_images
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from sklearn.model_selection import train_test_split

import tensorflow as tf

import pandas as pd
import os
import numpy as np

2023-07-30 06:46:59.216451: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-07-30 06:46:59.254577: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-07-30 06:46:59.255784: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-07-30 06:47:00.089789: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

### 1. Dataset

In [2]:
""" Read Dataset:"""
path = '../FULL_COLOMBIA_v2/'
labels_path = '../Tabular_data/dengue_tabular_v2.csv'

""" Dataset Preprocessing:"""
train_percentage = 80
T = 3
autoregressive = False
feature_range = (-1, 1)

# Dataloader Args:
batch_size = 16
target_size = (224, 224, 12)

In [3]:
image_list, municipalities = get_dataset_list(path, ignore_black=True, show_dirs=True, head=10, return_dirs=True)

Images in directories:
76400
50573
41020
85001
47288
73268
68307
95001
54874
76834
5088
68547
73443
50313
68081
44430
23855
41001
86320
73408
47001
86865
68406
13244
25290
76892
5837
73585
76109
68001
15480
81736
66001
5679
25488
76147
68655
18753
5490
8001
23555
23001
73675
50006
76111
20001
20011
5079
5266
15469
18001
95025
68679
76364
73319
15753
54405
8758
5360
73449
41298
5212
20710
73411
13430
23466
25307
68276
25245
76520
20013
54498
5045
66170
70001
86568
85010
41396
41551
13688
5656
Image list top 5 examples of length 8354:
['../FULL_COLOMBIA_v2/76400/image_2017-07-30.tiff', '../FULL_COLOMBIA_v2/76400/image_2017-11-19.tiff', '../FULL_COLOMBIA_v2/76400/image_2016-11-20.tiff', '../FULL_COLOMBIA_v2/76400/image_2017-07-16.tiff', '../FULL_COLOMBIA_v2/76400/image_2017-03-12.tiff', '../FULL_COLOMBIA_v2/76400/image_2018-12-23.tiff', '../FULL_COLOMBIA_v2/76400/image_2018-01-14.tiff', '../FULL_COLOMBIA_v2/76400/image_2017-10-22.tiff', '../FULL_COLOMBIA_v2/76400/image_2016-06-26.tiff', '../FULL_COLOMBIA_v2/76400/image_2018-08-05.tiff']

In [4]:
municipalities = [int(municipality) for municipality in municipalities]

### Labels

In [5]:
labels = pd.read_csv(labels_path)
labels = labels[labels['Municipality code'].isin(municipalities)]
labels.head()

,Municipality code,Municipality,Population2007,Population2008,Population2009,Population2010,Population2011,Population2012,Population2013,Population2014,...,2019/w43,2019/w44,2019/w45,2019/w46,2019/w47,2019/w48,2019/w49,2019/w50,2019/w51,2019/w52
12,5045,Apartadó,113220,111883,112089,112914,114241,115856,117088,117992,...,7,2,12,11,12,9,21,11,21,16
16,5079,Barbosa,44052,44568,45077,45585,46201,46818,47312,47765,...,3,0,0,0,0,1,0,1,0,1
18,5088,Bello,384814,388988,393035,397639,405040,417010,427104,437979,...,2,2,2,2,0,0,1,3,1,0
40,5212,Copacabana,63607,64326,65009,65893,67830,71485,73815,74740,...,3,1,1,0,1,0,2,0,0,0
46,5266,Envigado,183254,185567,187644,189745,192323,195445,198284,201482,...,3,2,3,0,1,1,0,1,0,1

### Train Test split

In [6]:
def filter_paths_with_code(paths_list, codes_list):
    paths_with_code = []
    
    for code in codes_list:
        for path in paths_list:            
            if '/'+str(code)+'/' in path:
                #print(f'Code: {code}, Path: {image_list}')
                paths_with_code.append(path)
                
    return paths_with_code

In [47]:
def split_on_column(municipality_codes, image_list, train_percentage, random_state=42):
    
    print(f'Splitting using municipality code. {train_percentage}% for train, and {100-train_percentage}% for test')

    # Split the unique codes into train and test sets
    train_codes, test_codes = train_test_split(municipality_codes, train_size=train_percentage/100, random_state=random_state)
    
    
    # Create the train and test sets based on the selected 'Municipality Code' values
    train_data = filter_paths_with_code(image_list, train_codes)
    print(f'The resulting train dataset has {len(train_data)} images')
    test_data = filter_paths_with_code(image_list, test_codes)
    print(f'The resulting test dataset has {len(test_data)} images')
        
    return train_data, test_data, train_codes, test_codes

train_df, test_df, train_codes, test_codes = split_on_column(municipalities ,image_list, train_percentage)

Splitting using municipality code. 80% for train, and 20% for test
The resulting train dataset has 6609 images
The resulting test dataset has 1745 images

### Data Loader

In [48]:
## Get labels:
column = 'Householdswithoutwateraccess(%)'

def get_df(paths, labels_df, label, codes):
    df = {'path':  [],
          'labels': []}

    for code in codes:
        for path in paths:            
            if '/'+str(code)+'/' in path:
                df['path'].append(path)
                df['labels'].append(labels_df[labels_df['Municipality code'] == code][label].item())
                
    df = pd.DataFrame.from_dict(df)
                
    return df

In [53]:
train_df = get_df(train_df, labels, column, train_codes)

In [55]:
test_df = get_df(test_df, labels, column, test_codes)
test_df = test_df.sample(frac=1).reset_index(drop=True)

In [57]:
# Augmentation for train
train_datagen = ImageDataGenerator(
    rotation_range=10,
    zoom_range=0.5,
    width_shift_range=0.1,
    height_shift_range=0.1,
    horizontal_flip=True,
    vertical_flip=True)

In [58]:
traingen = CustomDataGen(train_df,
                         batch_size=batch_size, 
                         input_size=target_size, 
                         augmentation=None, #train_datagen, 
                         shuffle = True)

In [59]:
testgen = CustomDataGen(test_df,
                         batch_size=batch_size, 
                         input_size=target_size, 
                         augmentation=None)

In [ ]:
def show_sample(gen):
    for x, y in gen:
        print('-'*50)
        print(x.shape)
        print(x)
        print('-'*50)
        print(y.shape)
        print(y)

        break 
        
#show_sample(testgen)

# 2. Model

In [65]:
import tensorflow as tf

model = tf.keras.Sequential()

# Load the ConvNeXt model
model.add(
    tf.keras.applications.ConvNeXtTiny(
    model_name="convnext_tiny",
    include_top=False,
    include_preprocessing=True,
    weights=None,#"imagenet",
    input_tensor=None,
    input_shape=target_size,
    classifier_activation="softmax",
    )
)

model.add(tf.keras.layers.GlobalAveragePooling2D())

# Replace the classification head with a regression head
model.add(tf.keras.layers.Dense(1))

# Compile the model
model.compile(loss="mse", optimizer="adam", metrics=["mae"])

In [66]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 convnext_tiny (Functional)  (None, 7, 7, 768)         27833952

 global_average_pooling2d_2   (None, 768)              0
 (GlobalAveragePooling2D)

 dense_2 (Dense)             (None, 1)                 769

=================================================================
Total params: 27,834,721
Trainable params: 27,834,721
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Train the model
model.fit(traingen, epochs=10)

Epoch 1/10

2023-07-30 15:40:25.305050: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'Placeholder/_0' with dtype int32
	 [[{{node Placeholder/_0}}]]
2023-07-30 15:40:42.442494: I tensorflow/compiler/xla/service/service.cc:169] XLA service 0x7fe88d5025f0 initialized for platform Host (this does not guarantee that XLA will be used). Devices:
2023-07-30 15:40:42.442575: I tensorflow/compiler/xla/service/service.cc:177]   StreamExecutor device (0): Host, Default Version
2023-07-30 15:40:42.677592: I ./tensorflow/compiler/jit/device_compiler.h:180] Compiled cluster using XLA!  This line is logged at most once for the lifetime of the process.

413/413 [==============================] - 4156s 10s/step - loss: 233.0923 - mae: 11.7188
Epoch 2/10
252/413 [=================>............] - ETA: 26:38 - loss: 233.7261 - mae: 11.7862

In [ ]:
def evaluate_model(model, testgen):

    # For other models, follow the previous approach
    y_pred = model.predict(testgen).flatten()

    # Calculate evaluation metrics for the current model
    mae = mean_absolute_error(test_y, y_pred)
    mape = mean_absolute_percentage_error(test_y, y_pred)
    smape = 200 * np.mean(np.abs(y_pred - test_y) / (np.abs(y_pred) + np.abs(test_y)))
    rmse = np.sqrt(mean_squared_error(test_y, y_pred))

    return mae, mape, smape, rmse

In [ ]:
evaluate_model(model, testgen)